###############################################################################
# Ignore this files
###############################################################################

*~
.*
*.log

###############################################################################
# Ignore this directories
###############################################################################

###############################################################################
# Accept this files
###############################################################################

!.gitignore
